script(src="https://code.jquery.com/jquery-2.2.0.min.js")
//- script(src="js/pf.intrinsic.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js")
script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
script(src="js/request-animation-frame-polyfill.js")
script(src="js/reasanik-base.js")
script(src="js/restruct-rhombuses.js")
script(src="js/menu.js")
script(src="js/slider.js")
script(src="js/animate-blocks.js")
script(src="js/scroll-effect.js")
script(src="js/to-top.js")
script(src="js/gallery.js")
script(src="js/form-validate.js")
script(src="js/include-plugins.js")
script(src="js/include-slick-carousels.js")
script(src="js/lazy-loading.js")
