mixin logo(id="", isMain=false)
  a.logo(id=id class={"header-logo": isMain} href="#")
    .rhombus-wrap.fill-rhombus.logo-rhombus.logo-fill_rhombus
    .rhombus-wrap.empty-rhombus.logo-rhombus.logo-empty_rhombus
    if isMain
      h1.logo-title rubiko
    else
      span.logo-title rubiko

mixin socials(classes="", count=6)
  -
    var items = [
      "facebook",
      "twitter",
      "dribbble",
      "tumblr",
      "linkedin",
      "pinterest"
    ]
  - var listClasses = (classes ? classes + " " : "") + "socials"

  ul(class=(classes ? classes + " " : "") + "socials")
    - for (var i = 0; i < count; i++)
      li
        a(class=items[i] href="#")
