<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>RUBIKO</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

<!-- BEGIN HEADER -->

<header class="light-background">
	<div class="container">

		<a href="#" class="logo">
			<div class="rhombus-wrap fill-rhombus"></div>
			<div class="rhombus-wrap empty-rhombus"></div>
			<h1>rubiko</h1>
		</a>

		<nav>
			<div id="menu-checker" class="rhombus-wrap button bars">
				<div class="rhombus"></div>
			</div>

			<!-- main menu -->
		</nav>

	</div>
</header>

<!-- END HEADER -->

<!-- BEGIN MAIN-SLIDER SECTION -->

<section id="main-slider" class="dark-background slider-container">
	<div id="main-slider-demonstration" class="slider-demonstration">

		<div id="main-slide-1" class="slide">
			<div class="background"></div>
			<div class="content">

				<div class="slide-description-wrap">
					<div class="slide-description">
						<h2>image background</h2>
						<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived  not onlyfive centuries, but also the leap into electronic typesetting, remaining</p>
					</div>
				</div>

			</div>
		</div>

		<div id="main-slide-2" class="slide">
			<div class="background"></div>
			<div class="content">

				<div class="slide-description-wrap">
					<div class="slide-description">
						<h2>pattern background</h2>
						<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived  not onlyfive centuries, but also the leap into electronic typesetting, remaining</p>
					</div>
				</div>

			</div>
		</div>

		<div id="main-slide-3" class="slide">
			<div class="background"></div>
			<div class="content">

				<div class="slide-description-wrap">
					<div class="slide-description">
						<h2>video background</h2>
						<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not onlyfive centuries, but also the leap into electronic typesetting, remaining</p>
					</div>
				</div>

			</div>
		</div>

		<div id="main-slide-4" class="slide">
			<div class="background"></div>
			<div class="content flex-container">

				<div class="slide-description-wrap">
					<div class="slide-description">
							<h2>your work<br>presentation here</h2>
							<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
					</div>
				</div>

				<div class="image-container">
					<img src="img/bg/main-slider/hand.png" alt="hand with iphone">
				</div>

			</div>
		</div>

	</div>

	<div id="main-slider-navigation" class="navigation">
		<a href="#" id="main-slider-more" class="rhombus-wrap more">
			<div class="rhombus"></div>
		</a>

    <a href="#" id="main-slider-prev" class="rhombus-wrap arrow-left">
      <div class="rhombus"></div>
    </a>

    <a href="#" id="main-slider-next" class="rhombus-wrap arrow-right">
      <div class="rhombus"></div>
    </a>
	</div>

	<a href="#features" id="main-slider-after-section" class="after-section rhombus-wrap">
		<div class="rhombus"></div>
	</a>
</section>

<!-- END MAIN-SLIDER SECTION -->

<!-- BEGIN FEATURES SECTION -->

<section id="features" class="light-background">
	<div class="container">

		<a class="anchor" name="features"></a>

		<h2>theme features</h2>
		<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining</p>

		<div class="block">
			<div class="rhombus-wrap">
				<div class="rhombus sl-icon-vector"></div>
			</div>
			<h3>unique design</h3>
			<p>Rubiko easily and efficiently scales your project with one code base, from phones to tablets to desktops.</p>
		</div>

		<div class="block">
			<div class="rhombus-wrap">
				<div class="rhombus sl-icon-equalizer"></div>
			</div>
			<h3>simple backend</h3>
			<p>Rubiko easily and efficiently scales your project with one code base, from phones to tablets to desktops.</p>
		</div>

		<div class="block">
			<div class="rhombus-wrap">
				<div class="rhombus sl-icon-graph"></div>
			</div>
			<h3>seo tools</h3>
			<p>Rubiko easily and efficiently scales your project with one code base, from phones to tablets to desktops.</p>
		</div>

		<div class="block">
			<div class="rhombus-wrap">
				<div class="rhombus sl-icon-screen-smartphone"></div>
			</div>
			<h3>responsive</h3>
			<p>Rubiko easily and efficiently scales your project with one code base, from phones to tablets to desktops.</p>
		</div>

		<div class="block">
			<div class="rhombus-wrap">
				<div class="rhombus sl-icon-picture"></div>
			</div>
			<h3>retina support</h3>
			<p>Rubiko will look beautiful on any device. Servehigh-
resolution images to devices with retinadisplays.<span>ULTRA SHARP GRAPHICS</span></p>
		</div>

		<div class="block">
			<div class="rhombus-wrap">
				<div class="rhombus sl-icon-speedometer"></div>
			</div>
			<h3>top support</h3>
			<p>Rubiko has a forum for you to report issues, find answers and get latest updates before we publish them on ThemeForest.</p>
		</div>

		<div class="block">
			<div class="rhombus-wrap">
				<div class="rhombus sl-icon-layers"></div>
			</div>
			<h3>documentation</h3>
			<p>Rubiko includes Step by step customization. All packed in one nice document thatcomes with download. <span>IT'S FREE AND ALWAYS WILL BE</span></p>
		</div>

	</div>
</section>

<!-- END FEATURES SECTION -->

<!-- BEGIN ABOUT SECTION -->

<section id="about" class="dark-background">
	<div class="container">

		<h2>about us</h2>
		<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining.</p>

		<a href="#" id="about-logo" class="logo">
			<div class="rhombus-wrap fill-rhombus"></div>
			<div class="rhombus-wrap empty-rhombus"></div>
			rubiko
		</a>

		<ul class="socials">
			<li><a class="facebook" href="#"></a></li>
			<li><a class="twitter" href="#"></a></li>
			<li><a class="dribbble" href="#"></a></li>
			<li><a class="tumblr" href="#"></a></li>
			<li><a class="linkedin" href="#"></a></li>
			<li><a class="pinterest" href="#"></a></li>
		</ul>

		<a href="#portfolio" id="to-portfolio" class="rhombus-wrap after-section arrow-bottom">
			<div class="rhombus"></div>
		</a>

	</div>
</section>

<!-- END ABOUT SECTION -->

<!-- BEGIN PORTFOLIO SECTION -->

<section id="portfolio" class="light-background">
	<div class="container dynamic-blocks-container">

		<a class="anchor" name="portfolio"></a>

		<h2>our portfolio gallery</h2>

		<div id="portfolio-blocks" class="dynamic-blocks display-rhombuses">
			<!-- portfolio menu -->
			<!-- portfolio items -->
		</div>

	</div>
</section>

<!-- END PORTFOLIO SECTION -->

<!-- BEGIN TESTIMONIALS SECTION -->

<section id="testimonials" class="dark-background carousel-section">
	<div class="container">

		<h2>testimonials</h2>

		<div class="carousel-container">
			<div>
				<p class="section-description">"If there ever was a team to trust 
					with your PPC management, these are the guys. My advice? Grab your spot before they change their minds."</p>
				<address>Petar Stojakovic, Subotica</address>
			</div>

			<div>
				<p class="section-description">Lorem Ipsum is simply dummy text of the printing and
				 typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived  not onlyfive centuries, but also the leap into electronic typesetting, remaining</p>
				<address>Pattern background</address>
			</div>

			<div>
				<p class="section-description">Lorem Ipsum is simply dummy text of the printing and
				 typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not onlyfive centuries, but also the leap into electronic typesetting, remaining</p>
				<address>Video background</address>
			</div>

			<div>
				<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
				<address>Your work presentation here</address>
			</div>

			<div>
				<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived  not onlyfive centuries, but also the leap into electronic typesetting, remaining</p>
				<address>5</address>
			</div>

			<div>
				<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not onlyfive centuries, but also the leap into electronic typesetting, remaining</p>
				<address>6</address>
			</div>
		</div>

	</div>

	<a href="#skills" id="to-skills" class="rhombus-wrap after-section arrow-bottom">
		<div class="rhombus"></div>
	</a>
</section>

<!-- END TESTIMONIALS SECTION -->

<!-- BEGIN SKILLS SECTION -->

<section id="skills" class="light-background">
	<div class="container">

		<a class="anchor" name="skills"></a>

		<h2>our skills</h2>
		<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only.</p>

		<div id="skills-block0" class="block">
			<div class="rhombus-wrap">
				<div class="rhombus">95</div>
				<div class="rhombus background-container">
					<div class="background">
						<div class="block-percents">95</div>
					</div>
				</div>
			</div>
			<h3>designing</h3>
		</div>

		<div id="skills-block1" class="block">
			<div class="rhombus-wrap">
				<div class="rhombus">77</div>
				<div class="rhombus background-container">
					<div class="background">
						<div class="block-percents">77</div>
					</div>
				</div>
			</div>
			<h3>developing</h3>
		</div>

		<div id="skills-block2" class="block">
			<div class="rhombus-wrap">
				<div class="rhombus">99</div>
				<div class="rhombus background-container">
					<div class="background">
						<div class="block-percents">99</div>
					</div>
				</div>
			</div>
			<h3>consulting</h3>
		</div>

		<div id="skills-block3" class="block">
			<div class="rhombus-wrap">
				<div class="rhombus">62</div>
				<div class="rhombus background-container">
					<div class="background">
						<div class="block-percents">62</div>
					</div>
				</div>
			</div>
			<h3>marketing</h3>
		</div>

		<div id="skills-block4" class="block">
			<div class="rhombus-wrap">
				<div class="rhombus">85</div>
				<div class="rhombus background-container">
					<div class="background">
						<div class="block-percents">85</div>
					</div>
				</div>
			</div>
			<h3>branding</h3>
		</div>

    <ul id="skills-technologies">

      <li id="skills-item0">
      	<div class="item-frame">
      		<div class="item-container">
      			<div class="item-content">
      				<div class="item-title">html/css</div>
      				<div class="item-percents">65%</div>
      			</div>
      		</div>
      	</div>
      </li>

      <li id="skills-item1">
      	<div class="item-frame">
      		<div class="item-container">
      			<div class="item-content">
      				<div class="item-title">responsive web design</div>
      				<div class="item-percents">85%</div>
      			</div>
      		</div>
      	</div>
      </li>

      <li id="skills-item2">
      	<div class="item-frame">
      		<div class="item-container">
      			<div class="item-content">
      				<div class="item-title">ios development</div>
      				<div class="item-percents">95%</div>
      			</div>
      		</div>
      	</div>
      </li>

      <li id="skills-item3">
      	<div class="item-frame">
      		<div class="item-container">
      			<div class="item-content">
      				<div class="item-title">javascript game development</div>
      				<div class="item-percents">77%</div>
      			</div>
      		</div>
      	</div>
      </li>

    </ul>

	</div>
</section>

<!-- END SKILLS SECTION -->

<!-- BEGIN STATISTICS SECTION -->

<section id="statistics" class="dark-background">
	<div class="container">

		<h2>some cool statistics</h2>
		<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only.</p>

		<div class="flex-container">

			<div class="sl-icon-people block">
	      <span>568</span>
	      <h3>Happy clients!</h3>
	    </div>
	
	    <div class="sl-icon-social-twitter block">
	      <span>3578</span>
	      <h3>Followers on Twitter</h3>
	    </div>
	
	    <div class="sl-icon-social-facebook block">
	      <span>2387</span>
	      <h3>Friends on Facebook</h3>
	    </div>
	
	    <div class="sl-icon-trophy block">
	      <span>128</span>
	      <h3>awards</h3>
	    </div>

		</div>

	</div>

	<a href="#blog-news" id="to-blog-news" class="rhombus-wrap after-section arrow-bottom">
		<div class="rhombus"></div>
	</a>
</section>

<!-- END STATISTICS SECTION -->

<!-- BEGIN BLOG-NEWS SECTION -->

<section id="blog-news" class="light-background">
	<div class="container dynamic-blocks-container">

		<a class="anchor" name="blog-news"></a>

		<h2>blog / news</h2>

		<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only.</p>

		<div id="blog-news-lightbox" class="lightbox hidden">

			<div id="blog-news-content">

				<div class="image-container">
					<img src="img/blog-news/1.jpg" alt="7">
				</div>

				<div id="blog-description">

					<h3>rubiko will take you to the next level</h3>
					
					<p class="first-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed molestie neque, id venenatis nisl. Aliquam magna magna, interdum quis nisl quis, eleifend sollicitudin nibh. Morbi nec felis ut nisl sagittis rhoncus. Vestibulum condimentum ligula ac mattis commodo. Etiam pharetra, dolor tempor volutpat auctor, nisi urna lacinia diam, ac consectetur turpis velit non neque. Sed erat eros, porttitor ac pretium vel, posuere a ante. Ut mattis interdum magna egestas accumsan. Vestibulum eget eros quam.</p>
					
					<p>Cras tristique mi mauris, nec ornare nisi sagittis eu. Aliquam erat volutpat. Ut a magna vel neque eleifend accumsan sit amet nec mauris. Nulla faucibus ac felis at viverra. Morbi quis elit nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In quis augue tincidunt nisl viverra vulputate sit amet eu justo.</p>
					
					<p>Morbi consectetur ultricies eros ac sodales. Proin fermentum tortor augue, sit amet ullamcorper lectus egestas ac. Pellentesque ultricies orci eget urna cursus, in pharetra sapien vulputate. Pellentesque quis magna felis. Sed condimentum justo viverra, pharetra dolor ac, faucibus velit. Integer porta ornare nibh ac cursus. Maecenas bibendum pretium vehicula. Quisque adipiscing, sem vitae suscipit egestas, neque arcu elementum nibh, euismod viverra turpis massa ut tortor. Vestibulum ultrices facilisis neque, at porttitor lectus placerat a. Vivamus volutpat leo vitae mi vulputate molestie.</p>
					
					<p>Aliquam nec diam sem. Nulla eu auctor tortor. Fusce feugiat ultrices tincidunt. Sed quis magna quam. Aliquam erat volutpat. Duis pretium urna lectus, sed dictum diam tincidunt quis. Fusce consequat faucibus dui sed vulputate. Duis faucibus mattis volutpat. Vestibulum placerat urna eget urna sollicitudin pulvinar. Mauris lacinia dictum tristique.</p>
					
					<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed feugiat sem eu est sollicitudin sagittis. Nam eget adipiscing lectus, ac facilisis tortor. Nulla accumsan faucibus orci, nec tincidunt turpis blandit et. Pellentesque pulvinar fermentum ante quis fringilla. Etiam at quam justo. Suspendisse posuere fringilla tortor. Maecenas eu nunc non augue lacinia gravida sed in massa. Nullam ac nibh placerat, hendrerit quam in, aliquet augue. Duis metus sem, dictum eu turpis sodales, consequat suscipit purus.</p>
					
					<p>Proin pretium felis quis eros interdum venenatis. Mauris vitae ultricies augue. Nunc ultrices neque at mollis mattis. Integer luctus, libero sed imperdiet interdum, dolor velit ullamcorper lectus, a elementum tortor leo ac sapien. Duis velit leo, mattis sit amet aliquam quis, molestie eget ante. Mauris rhoncus, arcu quis dictum fringilla, purus eros convallis leo, sit amet tincidunt purus nunc id eros. Nulla vitae egestas lectus. Maecenas semper sem sed sapien porta tincidunt quis et risus. Quisque in lobortis ipsum. Nam tincidunt gravida elit, vel auctor urna placerat ut. Sed nisl nibh, pulvinar ut sapien tincidunt, dictum sollicitudin justo. Sed tempor et nibh et eleifend. Integer nibh felis, fermentum in enim eget.</p>
					
					<div class="rhombus-wrap socials-rhombus">
						<ul class="socials">
							<li><a class="pinterest" href="#"></a></li>
							<li><a class="linkedin" href="#"></a></li>
							<li><a class="dribbble" href="#"></a></li>
							<li><a class="twitter" href="#"></a></li>
							<li><a class="facebook" href="#"></a></li>
							<li><a class="tumblr" href="#"></a></li>
						</ul>

						<div class="rhombus-wrap show-socials">
							<div class="rhombus"></div>
						</div>
					</div>

				</div>

				<div id="blog-comments">

					<h4>5 Comments</h4>

					<ul class="level-1">

						<li>
							<div class="comment">
								<div class="avatar guest-avatar">
								</div>
								<div class="comment-text-content">
									<span class="author"><b>Remington</b> says:</span>
									<span class="date">October 17, 2013 at 3:55 am</span>
									<p class="comment-text">Nice theme, I will definitely buy this one and also recommend my friends. I love the color and widget style of the theme very much. Thanks!</p>
								</div>
								<a class="show-more" href="#"></a>
							</div>
						</li>

						<li>
							<div class="comment">
								<div class="avatar admin-avatar">
								</div>
								<div class="comment-text-content">
									<span class="author"><b>Rubiko</b> says:</span>
									<span class="date">October 17, 2013 at 3:55 am</span>
									<p class="comment-text">Thank you very much for yours feedback is means a lot for us!</p>
								</div>
								<a class="show-more" href="#"></a>
							</div>

							<ul class="sub-comments level-2">

								<li>
									<div class="comment">
										<div class="avatar guest-avatar">
										</div>
										<div class="comment-text-content">
											<span class="author"><b>Remington</b> says:</span>
											<span class="date">October 17, 2013 at 3:55 am</span>
											<p class="comment-text">Looking forward to working with this theme!</p>
										</div>
										<a class="show-more" href="#"></a>
									</div>
								</li>

								<li>
									<div class="comment">
										<div class="avatar guest-avatar">
										</div>
										<div class="comment-text-content">
											<span class="author"><b>Remington</b> says:</span>
											<span class="date">October 17, 2013 at 3:55 am</span>
											<p class="comment-text">Looking forward to working with this theme!</p>
										</div>
										<a class="show-more" href="#"></a>
									</div>
								</li>

							</ul>

						</li>

						<li>
							<div class="comment">
								<div class="avatar guest-avatar">
								</div>
								<div class="comment-text-content">
									<span class="author"><b>Remington</b> says:</span>
									<span class="date">October 17, 2013 at 3:55 am</span>
									<p class="comment-text">Looking forward to working with this theme!</p>
								</div>
								<a class="show-more" href="#"></a>
							</div>
						</li>

					</ul>

					<form action="index.html">
						<div class="flex-container">
							<input class="form-element" type="text" placeholder="Name*">
							<input class="form-element" type="email" placeholder="Email*">
						</div>

						<textarea placeholder="Your comment*"></textarea>

						<div class="button rhombus-wrap">
							<input class="rhombus" type="submit" value="send">
						</div>
					</form>

				</div>

			</div>

			<div class="navigation">

				<div class="rhombus-wrap category">
					<div class="rhombus">5 comments</div>
				</div>

				<div class="arrows">

					<div class="rhombus-wrap arrow-left">
						<div class="rhombus"></div>
					</div>
					
					<div class="rhombus-wrap arrow-right">
						<div class="rhombus"></div>
					</div>

				</div>

				<div class="rhombus-wrap date">
					<div class="rhombus">Jan 15 2014</div>
				</div>

			</div>

		</div>

		<div id="blog-news-blocks" class="dynamic-blocks display-rhombuses">
			 blog and news items 
		</div>

	</div>
</section>

<!-- END BLOG-NEWS SECTION -->

<!-- BEGIN SOCIALS-FEEDBACK SECTION -->

<section id="socials-feedback" class="dark-background carousel-section">
	<div class="container">

		<div class="carousel-container">
			<div class="slide twitter-slide">
				<h2></h2>
				<p class="section-description">I bought Rubiko theme that looks and works fantastically all recommendations!</p>

				<address class="author"><a href="#">@blazrobar</a> #webdesign</address>
				<address class="time">2 hours ago</address>
			</div>

			<div class="slide facebook-slide">
				<h2></h2>
				<p class="section-description">I bought Rubiko theme that looks and works fantastically all recommendations!</p>

				<address class="author"><a href="#">@blazrobar</a> #webdesign</address>
				<address class="time">2 hours ago</address>
			</div>

			<div class="slide tumblr-slide">
				<h2></h2>
				<p class="section-description">I bought Rubiko theme that looks and works fantastically all recommendations!</p>

				<address class="author"><a href="#">@blazrobar</a> #webdesign</address>
				<address class="time">2 hours ago</address>
			</div>

			<div class="slide dribbble-slide">
				<h2></h2>
				<p class="section-description">I bought Rubiko theme that looks and works fantastically all recommendations!</p>

				<address class="author"><a href="#">@blazrobar</a> #webdesign</address>
				<address class="time">2 hours ago</address>
			</div>
		</div>

	</div>

	<a href="#team" id="to-team" class="rhombus-wrap after-section arrow-bottom">
		<div class="rhombus"></div>
	</a>
</section>

<!-- END SOCIALS-FEEDBACK SECTION -->

<!-- BEGIN TEAM SECTION -->

<section id="team" class="light-background carousel-section">
	<div class="container">

		<a class="anchor" name="team"></a>

		<h2>meet team</h2>

		<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining</p>

		<div class="carousel-container">

			<div id="team-navigation" class="navigation carousel-navigation">
				<div class="arrows">

					<div id="team-carousel-prev" class="rhombus-wrap arrow-left">
					  <div class="rhombus"></div>
					</div>

					<div id="team-carousel-next" class="rhombus-wrap arrow-right">
					  <div class="rhombus"></div>
					</div>

				</div>
			</div>

			<div id="team-demonstration" class="carousel-demonstration">
				<div class="carousel-row">

					<div class="flex-container slide">

						<div id="team-person-1" class="block">
							<div class="rhombus-wrap photo-block-wrap">
								<div class="photo-block-frame">
									<div class="rhombus photo-block">
										<picture>
											<source srcset="img/team/d/1.jpg" media="(min-width: 1170px)">
											<source srcset="img/team/t/1.jpg" media="(min-width: 768px)">
											<img srcset="img/team/m/1.jpg" alt="1">
										</picture>
									</div>
								</div>
								<ul class="team-socials socials">
									<li><a class="tumblr" href="#"></a></li>
									<li><a class="dribbble" href="#"></a></li>
									<li><a class="linkedin" href="#"></a></li>
									<li><a class="facebook" href="#"></a></li>
									<li><a class="twitter" href="#"></a></li>
								</ul>
							</div>

							<span>art director</span>
							<h3>adam clark</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
						</div>

						<div id="team-person-2" class="block">
							<div class="rhombus-wrap photo-block-wrap">
								<div class="photo-block-frame">
									<div class="rhombus photo-block">
										<picture>
											<source srcset="img/team/d/2.jpg" media="(min-width: 1170px)">
											<source srcset="img/team/t/2.jpg" media="(min-width: 768px)">
											<img srcset="img/team/m/2.jpg" alt="2">
										</picture>
									</div>
								</div>
								<ul class="team-socials socials">
									<li><a class="tumblr" href="#"></a></li>
									<li><a class="dribbble" href="#"></a></li>
									<li><a class="linkedin" href="#"></a></li>
									<li><a class="facebook" href="#"></a></li>
									<li><a class="twitter" href="#"></a></li>
								</ul>
							</div>

							<span>graphic designer</span>
							<h3>isabella moro</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
						</div>

					</div>

					<div class="flex-container slide">

						<div id="team-person-3" class="block">
							<div class="rhombus-wrap photo-block-wrap">
								<div class="photo-block-frame">
									<div class="rhombus photo-block">
										<picture>
											<source srcset="img/team/d/3.jpg" media="(min-width: 1170px)">
											<source srcset="img/team/t/3.jpg" media="(min-width: 768px)">
											<img srcset="img/team/m/3.jpg" alt="3">
										</picture>
									</div>
								</div>
								<ul class="team-socials socials">
									<li><a class="tumblr" href="#"></a></li>
									<li><a class="dribbble" href="#"></a></li>
									<li><a class="linkedin" href="#"></a></li>
									<li><a class="facebook" href="#"></a></li>
									<li><a class="twitter" href="#"></a></li>
								</ul>
							</div>

							<span>General Manager</span>
							<h3>TOM WEERD</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
						</div>

						<div id="team-person-4" class="block">
							<div class="rhombus-wrap photo-block-wrap">
								<div class="photo-block-frame">
									<div class="rhombus photo-block">
										<picture>
											<source srcset="img/team/d/4.jpg" media="(min-width: 1170px)">
											<source srcset="img/team/t/4.jpg" media="(min-width: 768px)">
											<img srcset="img/team/m/4.jpg" alt="4">
										</picture>
									</div>
								</div>
								<ul class="team-socials socials">
									<li><a class="tumblr" href="#"></a></li>
									<li><a class="dribbble" href="#"></a></li>
									<li><a class="linkedin" href="#"></a></li>
									<li><a class="facebook" href="#"></a></li>
									<li><a class="twitter" href="#"></a></li>
								</ul>
							</div>

							<span>Lead Developer</span>
							<h3>JOHN HAMMOND</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
						</div>

					</div>

				</div>
			</div>

		</div>

	</div>
</section>

<!-- END TEAM SECTION -->

<!-- BEGIN CLIENTS SECTION -->

<section id="clients" class="dark-background carousel-section">
	<div class="container">

		<h2>meet our lovely clients</h2>
		<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only.</p>

		<div class="carousel-container">
			<a class="block slide" href="#">
				<picture>
					<source srcset="img/clients/t/1.png" media="(min-width: 768px)">
					<img srcset="img/clients/m/1.png" alt="graphicriver">
				</picture>
			</a>

			<a class="block slide" href="#">
				<picture>
					<source srcset="img/clients/t/2.png" media="(min-width: 768px)">
					<img srcset="img/clients/m/2.png" alt="themeforest">
				</picture>
			</a>

			<a class="block slide" href="#">
				<picture>
					<source srcset="img/clients/t/3.png" media="(min-width: 768px)">
					<img srcset="img/clients/m/3.png" alt="activeden">
				</picture>
			</a>

			<a class="block slide" href="#">
				<picture>
					<source srcset="img/clients/t/4.png" media="(min-width: 768px)">
					<img srcset="img/clients/m/4.png" alt="codecanyon">
				</picture>
			</a>
		</div>

	</div>

	<a href="#contacts" id="to-contacts" class="rhombus-wrap after-section arrow-bottom">
		<div class="rhombus"></div>
	</a>
</section>

<!-- END CLIENTS SECTION -->

<!-- BEGIN CONTACTS SECTION -->

<section id="contacts" class="light-background">
	<div class="container">

		<a class="anchor" name="contacts"></a>

		<h2>get in touch</h2>
		<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining</p>

		<form id="contacts_form" class="rhombus-wrap" action="index.html">
			<div class="rhombus">

				<div class="form-element-container first">
					<input class="form-element require" type="text" name="contacts_name" placeholder="Name">
				</div>
				<div class="form-element-container">
					<input class="form-element require" type="email" name="contacts_email" placeholder="Email">
				</div>
				<div class="form-element-container">
					<input class="form-element require" type="text" name="contacts_website" placeholder="Website">
				</div>
				<div class="form-element-container">
					<input class="form-element require" type="text" name="contacts_subject" placeholder="Subject">
				</div>

				<div id="text-area-container" class="form-element-container">
					<textarea class="form-element require" name="contacts_message" placeholder="Your Message"></textarea>
				</div>

				<div id="contacts-form-error" class="rhombus-wrap error">
					<div class="rhombus"></div>
				</div>

			</div>

			<div id="contacts-address" class="rhombus-wrap">
				<div class="rhombus">

					<h3>Rubiko Digital Agency</h3>

					<p>
						111 Fifth Avenue, 34th Floor
						<br>New York, United States
					</p>

					<p id="contacts-mail-and-phone">
						<a href="mailto:hello@rubiko.com">hello@rubiko.com</a>0987 6543 2100
					</p>

				</div>
			</div>

			<div id="contacts-send-button" class="rhombus-wrap button">
				<input class="rhombus" type="submit" name="contacts_submit" value="send">
			</div>

		</form>

		<div id="map-point">
			<div class="oval oval-1"></div>
			<div class="oval oval-2"></div>
			<div class="oval oval-3"></div>
		</div>

	</div>
</section>

<!-- END CONTACTS SECTION -->

<!-- BEGIN FOOTER -->

<footer class="dark-background">
	<div class="container">

		<a href="#" id="footer-logo" class="logo">
			<div class="rhombus-wrap fill-rhombus"></div>
			<div class="rhombus-wrap empty-rhombus"></div>
			<h2>rubiko</h2>
		</a>

		<address>Copyright © 2014. Rubiko Studio. All Rights Reserved.</address>

	</div>

	<div id="footer-socials-container" class="content flex-container">

		<ul id="footer-left-socials" class="socials flex-container">
			<li><a class="facebook" href="#"></a></li>
			<li><a class="twitter" href="#"></a></li>
			<li><a class="dribbble" href="#"></a></li>
		</ul>

		<ul id="footer-right-socials" class="socials flex-container">
			<li><a class="tumblr" href="#"></a></li>
			<li><a class="linkedin" href="#"></a></li>
			<li><a class="pinterest" href="#"></a></li>
		</ul>

	</div>

	<a href="google.ru" id="to-top" class="rhombus-wrap after-section arrow-top">
		<div class="rhombus"></div>
	</a>

</footer>

<!-- END FOOTER -->

<!-- BEGIN LIGHTBOX -->

<div id="portfolio-lightbox" class="lightbox hidden">
	<div class="lightbox-wrap">
		<div class="slider-container">

			<div id="portfolio-slider-demonstration" class="slider-demonstration">
				<div class="image-container">
					<!-- image -->
				</div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>

			<a href="#" id="portfolio-slider-close" class="rhombus-wrap button close">
				<div class="rhombus"></div>
			</a>

			<div id="portfolio-slider-navigation" class="navigation">
				<a href="#" id="portfolio-slider-prev" class="rhombus-wrap arrow-left">
					<div class="rhombus"></div>
				</a>

				<a href="#" id="portfolio-slider-next" class="rhombus-wrap arrow-right">
					<div class="rhombus"></div>
				</a>
			</div>

			<div class="rhombus-wrap socials-rhombus">
				<ul class="socials">
					<li><a class="pinterest" href="#"></a></li>
					<li><a class="linkedin" href="#"></a></li>
					<li><a class="facebook" href="#"></a></li>
					<li><a class="dribbble" href="#"></a></li>
					<li><a class="twitter" href="#"></a></li>
				</ul>

				<div class="rhombus-wrap show-socials">
					<div class="rhombus"></div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- END LIGHTBOX -->

<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="js/pf.intrinsic.min.js"></script>
<script src="js/picturefill.min.js"></script>
<script src="js/slick.min.js" charset="utf-8"></script>
<script src="js/request-animation-frame-polyfill.js"></script>
<script src="js/reasanik-base.js"></script>
<script src="js/restruct-rhombuses.js"></script>
<script src="js/menu.js"></script>
<script src="js/slider.js"></script>
<script src="js/animate-blocks.js"></script>
<script src="js/scroll-effect.js"></script>
<script src="js/to-top.js"></script>
<script src="js/gallery.js"></script>
<script src="js/carousel.js"></script>
<script src="js/form-validate.js"></script>
<script src="js/include-plugins.js"></script>

</body>
</html>